.text-center{
    text-align: center;
}
td > i{
    font-size: 1.4rem !important;
}
.mt-5{
    margin-top: 20px;
}
.mb-3{
    margin-bottom: 10px;
}
.mt-1{
    margin-top: 5px;
}
.xxlarge{
    width: 10rem !important;
    height: 10rem !important;
    font-size: 2.5rem !important;
    color: white;
}
.b-warning{
    background: #F59E0B;
}
.b-danger{
    background: #EF4444;
}
.b-success{
    background: #22C55E;
}
.text-danger{
    color: #EF4444;
}
.text-warning{
    color: #F59E0B;
}
.text-success{
    color: #22C55E;
}
.w-100{
    width: 100%;
}
.float-right{
    float:right;
}
.text-bold{
    font-weight: bold;
}
.p-text-info{
    color:#3B82F6;
}
.p-text-color-P1{
    color:#22C55E;
}
.p-text-color-P2{
    color:#dbe913;
}
.p-text-color-P3{
    color:#F59E0B;
}
.p-text-color-P4{
    color:#EF4444;
}

.p-panel-info .p-panel-header{
    background: #3d9eff !important;
    margin-top: 8px;
}
.p-panel-yellow .p-panel-header{
    background: #edff86 !important;
    margin-top: 8px;
}
.p-panel-orange .p-panel-header{
    background: #fac25b !important;
    margin-top: 8px;
}